.list {
    margin-top: 20px;
    height: 200px;
    width: 400px;
    background-color: rgb(137, 137, 240);
    border-radius: 30px;
}

.list a {
    text-decoration: none;
    font-size: 30px;
    color: azure;
}

.title{
    display: block;
    margin-top: 75px;
    
    
}