.list {
    margin-top: 20px;
    height: 200px;
    width: 400px;
    background-color: rgb(137, 137, 240);
    border-radius: 30px;
}

.list a {
    text-decoration: none;
    font-size: 30px;
    color: azure;
}

.title{
    display: block;
    margin-top: 75px;
}

.titleChange{
    display: block;
    margin-top: 75px;
}

.list:hover {
    cursor: pointer;
    border: solid 1px green;
    position: relative;
}
.list:hover .editControls {
    display: inline;
    position: absolute;
    right: 10px;
    top: 10px;
}
.list .editControls {
    display: none;
}

.list img{
    height: 30px;
    width: 30px;
    float: right;
}

.hidden {
    display: none;
}